*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f8f8f8;
    color:#111;
}

img{
    width:100%;
    display:block;
}

header{
    background:white;
    border-bottom:1px solid #ddd;
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar{
    max-width:1200px;
    margin:auto;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:25px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:black;
}

.login-btn{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:black;
    color:white;
    transition:0.2s;
}

.login-btn:hover{
    transform:translateY(-2px);
}

footer{
    background:black;
    color:white;
    margin-top:60px;
}

.footer-content{
    max-width:1200px;
    margin:auto;
    padding:40px 20px;

    display:flex;
    justify-content:space-between;
}

@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .footer-content{
        flex-direction:column;
        gap:20px;
    }

}